# Ignore everything
*

# Allow files and directories
!/.env
!/.env.local
!/.env.prod
!/.env.prod.local
!/.env.test
!/assets/
!/bin/
!/bundles/
!/composer.json
!/composer.lock
!/config/
!/importmap.php
!/migrations/
!/public/
!/src/
!/templates/
!/translations
!/symfony.lock
!/tailwind.config.js

!/phpunit.xml.dist
!/phpstan.dist.neon
!/tests/

# Ignore unnecessary files inside allowed directories
**/.DS_Store