(common) {
    header /* {
        -Server
        -X-Powered-By
    }

    # Enable test compression
    encode gzip zstd br
}

http://scaffold.localhost {
    import common

    root * /app/public

    php_fastcgi php:9000

    # Handle static files directly
    file_server

    # Symfony specific rewrites
    try_files {path} {path}/ /index.php{query}
}
