{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-white">
        <div class="relative isolate overflow-hidden bg-gradient-to-b from-indigo-100/20">
            <div class="mx-auto max-w-7xl pb-24 pt-10 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:py-40">
                <div class="px-6 lg:px-0 lg:pt-4">
                    <div class="mx-auto max-w-2xl">
                        <div class="max-w-lg">
{#                            <img class="h-11" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">#}
{#                            <div class="mt-24 sm:mt-32 lg:mt-16">#}
{#                                <a href="#" class="inline-flex space-x-6">#}
{#                                    <span class="rounded-full bg-indigo-600/10 px-3 py-1 text-sm/6 font-semibold text-indigo-600 ring-1 ring-inset ring-indigo-600/10">What's new</span>#}
{#                                    <span class="inline-flex items-center space-x-2 text-sm/6 font-medium text-gray-600">#}
{#                                      <span>Just shipped v0.1.0</span>#}
{#                                      <svg class="size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">#}
{#                                        <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />#}
{#                                      </svg>#}
{#                                    </span>#}
{#                                </a>#}
{#                            </div>#}
                            <h1 class="text-pretty text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">Build with Scaffold</h1>
                            <p class="text-lg text-gray-500"><br />by <a class="underline" href="https://chrisshennan.com">Chris Shennan</a></p>
                            <p class="mt-8 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">A Symfony and Tailwind CSS boilerplate</p>
                            <div class="mt-10 flex items-center gap-x-6">
                                <a href="https://github.com/chrisshennan/scaffold" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">View on GitHub</a>
                            </div>
                            <div class="mt-10 flex items-center gap-x-6">
                                <a href="https://newsletter.chrisshennan.com" class="text-sm/6 font-semibold text-gray-900">Signup to my newsletter for updates <span aria-hidden="true">→</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-20 sm:mt-24 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen">
                    <div class="absolute inset-y-0 right-1/2 -z-10 -mr-10 w-[200%] skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 md:-mr-20 lg:-mr-36" aria-hidden="true"></div>
                    <div class="shadow-lg md:rounded-3xl">
                        <div class="bg-indigo-500 [clip-path:inset(0)] md:[clip-path:inset(0_round_theme(borderRadius.3xl))]">
                            <div class="absolute -inset-y-px left-1/2 -z-10 ml-10 w-[200%] skew-x-[-30deg] bg-indigo-100 opacity-20 ring-1 ring-inset ring-white md:ml-20 lg:ml-36" aria-hidden="true"></div>
                            <div class="relative px-6 pt-8 sm:pt-16 md:pl-16 md:pr-0">
                                <div class="mx-auto max-w-2xl md:mx-0 md:max-w-none">
                                    <div class="w-screen overflow-hidden rounded-tl-xl bg-gray-900">
{#                                        <div class="flex bg-gray-800/40 ring-1 ring-white/5">#}
{#                                            <div class="-mb-px flex text-sm/6 font-medium text-gray-400">#}
{#                                                <div class="border-b border-r border-b-white/20 border-r-white/10 bg-white/5 px-4 py-2 text-white">bash</div>#}
{#                                            </div>#}
{#                                        </div>#}
                                        <div class="px-6 pb-8 pt-6">
                                            <pre class="text-[0.8125rem]/6 text-gray-300" style="tab-size: 2">
<code>
# Clone Build with Scaffold
git clone https://github.com/chrisshennan/scaffold.git scaffold

# Initialise your project
cd scaffold
make initialize

...

##############################
# SCAFFOLD SETUP COMPLETE 🎉 #
##############################

Happy building!
</code>
                                                </pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 md:rounded-3xl" aria-hidden="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
        </div>
    </div>

    <footer class="bg-white">
        <div class="mx-auto max-w-7xl px-6 py-12 md:flex md:items-center md:justify-between lg:px-8">
            <div class="flex justify-center gap-x-6 md:order-2">
                <a href="https://bsky.app/profile/chrisshennan.bsky.social" class="text-gray-600 hover:text-gray-800">
                    <span class="sr-only">Blue Sky</span>
                    <svg class="size-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 568 501">
                        <title>Bluesky</title>
                        <path fill-rule="evenodd" d="M123.121 33.664C188.241 82.553 258.281 181.68 284 234.873c25.719-53.192 95.759-152.32 160.879-201.21C491.866-1.611 568-28.906 568 57.947c0 17.346-9.945 145.713-15.778 166.555-20.275 72.453-94.155 90.933-159.875 79.748C507.222 323.8 536.444 388.56 473.333 453.32c-119.86 122.992-172.272-30.859-185.702-70.281-2.462-7.227-3.614-10.608-3.631-7.733-.017-2.875-1.169.506-3.631 7.733-13.43 39.422-65.842 193.273-185.702 70.281-63.111-64.76-33.89-129.52 80.986-149.071-65.72 11.185-139.6-7.295-159.875-79.748C9.945 203.659 0 75.291 0 57.946 0-28.906 76.135-1.612 123.121 33.664Z"></path>
                    </svg>
                </a>
                <a href="https://twitter.com/chrisshennan" class="text-gray-600 hover:text-gray-800">
                    <span class="sr-only">X</span>
                    <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M13.6823 10.6218L20.2391 3H18.6854L12.9921 9.61788L8.44486 3H3.2002L10.0765 13.0074L3.2002 21H4.75404L10.7663 14.0113L15.5685 21H20.8131L13.6819 10.6218H13.6823ZM11.5541 13.0956L10.8574 12.0991L5.31391 4.16971H7.70053L12.1742 10.5689L12.8709 11.5655L18.6861 19.8835H16.2995L11.5541 13.096V13.0956Z" />
                    </svg>
                </a>
                <a href="https://github.com/chrisshennan/scaffold" class="text-gray-600 hover:text-gray-800">
                    <span class="sr-only">GitHub</span>
                    <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
            <p class="mt-8 text-center text-sm/6 text-gray-600 md:order-1 md:mt-0">Built by <a href="https://chrisshennan.com">Chris Shennan</a></p>
        </div>
    </footer>


{% endblock %}