controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

scaffold_core_bundle:
    resource: '@ScaffoldCoreBundle/Controller/'
    type: attribute
