<!-- Card Section -->
<div class="pt-12">
    <h2 class="block text-2xl font-bold text-gray-800 sm:text-4xl lg:text-5xl lg:leading-tight dark:text-white">Tech Stack</h2>
    <!-- Grid -->
    <div class="pt-12 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-3 sm:gap-6">
        <!-- Card -->
        <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md focus:outline-none focus:shadow-md transition dark:bg-neutral-900 dark:border-neutral-800" href="https://symfony.com/">
            <div class="p-4 md:p-5">
                <div class="flex justify-between items-center gap-x-3">
                    <div class="grow">
                        <div class="flex items-center gap-x-3">
                            <img class="size-[38px] rounded-full" src="https://symfony.com/images/logos/sf-positive.svg" alt="Avatar">
                            <div class="grow">
                                <h3 class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-neutral-400 dark:text-neutral-200">
                                    Symfony
                                </h3>
                            </div>
                        </div>
                        <p class="mt-5 text-gray-600 dark:text-neutral-400">
                            Symfony is a powerful PHP framework that empowers developers to build scalable, high-performance web applications with reusable components, comprehensive documentation, and a strong community.
                        </p>
                    </div>
                </div>
            </div>
        </a>
        <!-- End Card -->

        <!-- Card -->
        <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md focus:outline-none focus:shadow-md transition dark:bg-neutral-900 dark:border-neutral-800" href="https://tailwindcss.com/">
            <div class="p-4 md:p-5">
                <div class="flex justify-between items-center gap-x-3">
                    <div class="grow">
                        <div class="flex items-center gap-x-3">
                            <img class="size-[38px] rounded-full" src="https://tailwindcss.com/favicons/favicon-32x32.png?v=4" alt="Avatar">
                            <div class="grow">
                                <h3 class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-neutral-400 dark:text-neutral-200">
                                    Tailwind CSS
                                </h3>
                            </div>
                        </div>
                        <p class="mt-5 text-gray-600 dark:text-neutral-400">
                            A utility-first CSS framework packed with classes like flex, pt-4, text-center and rotate-90 that can be composed to build any design, directly in your markup.
                        </p>
                    </div>
                </div>
            </div>
        </a>
        <!-- End Card -->

        <!-- Card -->
        <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md focus:outline-none focus:shadow-md transition dark:bg-neutral-900 dark:border-neutral-800" href="https://preline.co">
            <div class="p-4 md:p-5">
                <div class="flex justify-between items-center gap-x-3">
                    <div class="grow">
                        <div class="flex items-center gap-x-3">
                            <img class="size-[38px] rounded-full" src="https://preline.co/favicon.ico" alt="Avatar">
                            <div class="grow">
                                <h3 class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-neutral-400 dark:text-neutral-200">
                                    Preline
                                </h3>
                            </div>
                        </div>
                        <p class="mt-5 text-gray-600 dark:text-neutral-400">
                            Preline UI is an open-source Tailwind CSS components library for any needs. Comes with UI examples & blocks, templates, plugins, Figma design system and more.
                        </p>
                    </div>
                </div>
            </div>
        </a>
        <!-- End Card -->
    </div>
    <!-- End Grid -->
</div>
<!-- End Card Section -->