{% extends 'base.html.twig' %}

{% block body %}
    <main class="py-12">
        {% include '@ScaffoldCore/demo/components/hero.html.twig' %}
        {% include '@ScaffoldCore/demo/components/techStack.html.twig' %}
        {% include '@ScaffoldCore/demo/components/features.html.twig' %}
    </main>
{% endblock %}